*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul,
ol {
  list-style: none; }

li {
  display: inline-block; }

body {
  font-size: 16px;
  font-family: sans-serif; }

:root {
  --max-container: 1140px; }

.ThemeOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3); }

.ThemeOverlay--disable {
  display: none;
  z-index: -10; }

.Container {
  max-width: var(--max-container);
  margin: 0 auto; }

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
